{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Ponto Certo!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'home/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'estoque/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'vendas/css/styles.css' %}">
</head>
<body>

    <nav class="navbar">
        <h1 class="navbar-texts nav-h1">Minimercado Ponto Certo</h1>
        <p class="navbar-texts nav-p">Vitória da Conquista - BA</p>
        <p class="navbar-texts nav-p">{{ today }}</p>
    </nav>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>
